<?xml version="1.0"?>

<robot name="scout_kinova" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Define Properties -->
    <xacro:property name="robot_namespace" value="/" />
    <xacro:property name="urdf_extras" value="empty.urdf" />
    <xacro:property name="arm" value="gen3" />
    <xacro:property name="dof" value="7" />
    <xacro:property name="vision" value="false" />
    <xacro:property name="gripper" value="robotiq_2f_85" />
    <xacro:property name="prefix" value="arm_" />
    <xacro:property name="robot_ip" value="0.0.0.0" />
    <xacro:property name="username" value="admin" />
    <xacro:property name="password" value="admin" />
    <xacro:property name="port" value="10000" />
    <xacro:property name="port_realtime" value="10001" />
    <xacro:property name="session_inactivity_timeout_ms" value="6000" />
    <xacro:property name="connection_inactivity_timeout_ms" value="2000" />
    <xacro:property name="use_internal_bus_gripper_comm" value="true" />
    <xacro:property name="gripper_max_velocity" value="100.0" />
    <xacro:property name="gripper_max_force" value="100.0" />
    <xacro:property name="gripper_joint_name" value="robotiq_2f_85_joint"/>
    <xacro:property name="use_fake_hardware" value="true" />
    <xacro:property name="mock_sensor_commands" value="false" />
    <xacro:property name="sim_gazebo" value="false" />
    <xacro:property name="sim_ignition" value="true" />
    <xacro:property name="sim_isaac" value="false" />
    <xacro:property name="isaac_joint_commands" value="/isaac_joint_commands" />
    <xacro:property name="isaac_joint_states" value="/isaac_joint_states" />
    <xacro:property name="use_external_cable" value="false" />
    <xacro:property name="initial_positions" value="${dict(arm_joint_1=0.0,arm_joint_2=0.0,arm_joint_3=0.0,arm_joint_4=0.0,arm_joint_5=0.0,arm_joint_6=0.0,arm_joint_7=0.0)}" />

    <xacro:include filename="$(find scout_description)/urdf/scout_wheel_type1.xacro" />
    <xacro:include filename="$(find scout_description)/urdf/scout_wheel_type2.xacro" />

    <!-- Variables -->
    <xacro:property name="M_PI" value="3.14159"/>

    <!-- Vehicle Geometries -->
    <xacro:property name="base_x_size" value="0.9250000" />
    <xacro:property name="base_y_size" value="0.380000" />
    <xacro:property name="base_z_size" value="0.210000" />

    <xacro:property name="wheelbase" value="0.498" />
    <xacro:property name="track" value="0.58306" />
    <xacro:property name="wheel_vertical_offset" value="-0.0702" />

    <xacro:property name="wheel_length" value="1.1653e-01" />
    <xacro:property name="wheel_radius" value="1.6459e-01" />


    <!-- Base link -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find scout_description)/meshes/base_link.dae" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.008" rpy="0 0 0" />
            <geometry>
                <box size="${base_x_size} ${base_y_size} ${base_z_size}"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0 0 ${base_z_size/6}" rpy="0 0 0" />
            <geometry>
                <box size="${base_x_size/6} ${base_y_size*1.65} ${base_z_size/3}"/>
            </geometry>
        </collision>
    </link>

    <link name="inertial_link">
        <inertial>
            <mass value="50" />
            <origin xyz="0.0 0.0 0.0" />
            <inertia ixx="2.288641" ixy="0" ixz="0" iyy="5.103976" iyz="0" izz="3.431465" />
        </inertial>
    </link>

    <joint name="inertial_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="inertial_link" />
    </joint>

    <!-- Scout wheel macros -->
    <xacro:scout_wheel_type1 wheel_prefix="front_right">
        <origin xyz="${wheelbase/2} ${-track/2} ${wheel_vertical_offset}" rpy="3.14 0 0" />
    </xacro:scout_wheel_type1>
    <xacro:scout_wheel_type2 wheel_prefix="front_left">
        <origin xyz="${wheelbase/2} ${track/2} ${wheel_vertical_offset}" rpy="0 0 0" />
    </xacro:scout_wheel_type2>
    <xacro:scout_wheel_type2 wheel_prefix="rear_left">
        <origin xyz="${-wheelbase/2} ${track/2} ${wheel_vertical_offset}" rpy="0 0 0" />
    </xacro:scout_wheel_type2>
    <xacro:scout_wheel_type1 wheel_prefix="rear_right">
        <origin xyz="${-wheelbase/2} ${-track/2} ${wheel_vertical_offset}" rpy="3.14 0 0" />
    </xacro:scout_wheel_type1>

    <!-- Add a Mounting Link for the Robotic Arm -->
    <link name="arm_mount_link">
        <visual>
            <origin xyz="0 0 ${base_z_size/2}" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.05"/>
            </geometry>
        </visual>
    </link>

    <joint name="arm_mount_joint" type="fixed">
        <origin xyz="0 0 ${base_z_size/2}" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="arm_mount_link"/>
    </joint>

    <xacro:include filename="$(find scout_description)/urdf/gen3_macro.xacro" />


    <!-- Use the load_arm macro -->
    <xacro:load_arm
        parent="arm_mount_link"
        dof="${dof}"
        vision="${vision}"
        prefix="${prefix}"
        robot_ip="${robot_ip}"
        username="${username}"
        password="${password}"
        port="${port}"
        port_realtime="${port_realtime}"
        session_inactivity_timeout_ms="${session_inactivity_timeout_ms}"
        connection_inactivity_timeout_ms="${connection_inactivity_timeout_ms}"
        use_internal_bus_gripper_comm="${use_internal_bus_gripper_comm}"
        gripper_joint_name="${gripper_joint_name}"
        gripper_max_velocity="${gripper_max_velocity}"
        gripper_max_force="${gripper_max_force}"
        use_fake_hardware="${use_fake_hardware}"
        mock_sensor_commands="${mock_sensor_commands}"
        sim_gazebo="${sim_gazebo}"
        sim_ignition="${sim_ignition}"
        sim_isaac="${sim_isaac}"
        isaac_joint_commands="${isaac_joint_commands}"
        isaac_joint_states="${isaac_joint_states}"
        use_external_cable="${use_external_cable}"
        initial_positions="${initial_positions}">
        <!-- Provide the required origin block -->
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:load_arm>

    
    <!-- Gazebo definitions  -->
    <xacro:include filename="$(find scout_description)/urdf/scout_v2.gazebo" />

</robot>
